{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [],
  "sourceMaps": "inline",
  "retainLines": true,
  "extensions": [".js", ".mjs"],
  "ignore": ["node_modules"],
  "rootMode": "upward"
} 